/* Estilos generales */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: beige;
    transition: margin-top 0.4s ease;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('../assets/cabecera.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100%; 
}

/* Header comprimido y expandible */
.header {
    background-color: darkred; 
    color: white;
    overflow: hidden;
    transition: max-height 0.4s ease;
    max-height: 0px; 
    position: relative; 
    width: 100%;
    max-width: 100%;
    z-index: 1; 
}



.label-toggle {
    background-color: #5A2C2C;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10;
    flex-direction: column;
}

.label-toggle div {
    width: 20px;
    height: 4px; 
    background-color: white;
    margin: 2px 0; 
    transition: 0.4s;
}
#expand-toggle {
    display: none;
}
#expand-toggle:checked + .label-toggle + .header {
    max-height: 100px; 
    padding: 10px 10px;
    z-index: 1; 
}
#expand-toggle:checked ~ .content {
    margin-top: 150px; 
}
#expand-toggle:checked ~ body {
    margin-top: 150px; 
}
.header ul {
    margin: 10px 0 0;
    padding: 0;
    list-style-type: none;
}

.header li {
    margin: 5px 0;
}

.header a {
    color: white;
    text-decoration: none;
}

/* Contenido principal */
a.link{
    color: inherit; 
    text-decoration: none;
    margin-top: 20px;
    }

a.link:hover {
    color: inherit; 
    text-decoration: none; 
}

.container {
    max-height: 60vh; 
    overflow-y: auto; 
    padding: 20px; 
    border: 2px solid #5A2C2C; 
    border-radius: 10px; 
    background-color: rgba(0, 0, 0, 0.7); 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
    display: flex;
    flex-direction: column; 
    gap: 15px;
}
/* barra de desplaçament */
.container::-webkit-scrollbar {
    width: 1rem; 
    height: 1rem; 
}

.container::-webkit-scrollbar-track {
    background: transparent;
}

.container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
}


.container::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}
/* Título principal */
h1 {
    text-align: center;
    font-size: 3em; 
    font-weight: bold; 
    color: white;
    text-shadow: 0 0 3px #ff3385, 0 0 5px #ff3385, 0 0 8px #ff3385; 
    margin-top: 20px;
    margin-bottom: 20px;
    animation: neonPulse 1.5s ease-in-out infinite; 
    padding: 20px;
    transition: margin-top 0.4s ease;
    padding-top: 60px;
}
h2 {
    text-align: center;
    font-weight: bold; 
    color: #5A2C2C; 
    text-shadow: 0 0 10px #ffe600, 0 0 15px #ffe600, 0 0 30px #ffe600;
}

/* Animación para el efecto pulsante */
@keyframes neonPulse {
    0% {
        text-shadow: 0 0 3px #ff3385, 0 0 5px #ff3385, 0 0 8px #ff3385;
    }
    50% {
        text-shadow: 0 0 5px #ff3385, 0 0 10px #ff3385, 0 0 15px #ff3385;
    }
    100% {
        text-shadow: 0 0 3px #ff3385, 0 0 5px #ff3385, 0 0 8px #ff3385;
    }
}

/* Formulario de login */
fieldset {
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    padding: 20px;
    margin: 50px auto;
    border-radius: 10px;
    width: 80%; 
    max-width: 400px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
fieldset div {
    display: flex;
    align-items: center;  
    margin-bottom: 15px; 
}
legend {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

label {
    font-weight: bold;
    text-align: left;
    flex-basis: 30%; 
    margin-right: 10px; 
}
input[type="text"],
input[type="file"],
button,
select {
    flex-grow: 1; 
    padding: 10px;
    margin: 0;
    border: 2px solid #5A2C2C; 
    border-radius: 5px;
    font-size: 1em;
    background-color: #f4f4f4; 
    margin-top: 15px;
}

/* Cambiar el color cuando se selecciona un archivo */
input[type="file"] {
    color: #5A2C2C; 
}
button a{
    color: inherit;
    text-decoration: inherit;
}
button[class="submit"],
button[name="eliminar"]{
        background-color: #5A2C2C; 
        color: white;
        border: 1px solid #ffe600;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 1.1em;
        cursor: pointer;
        width: auto; 
        margin: 15px auto; 
        transition: background-color 0.3s ease;
        display: inline-block;
    
}
button[type="submit"]:hover,
button[name="eliminar"]:hover {
    transition: background-color 0.3s ease;
    background-color: #8B4513; 
    color: #ffe600;
}

input[type="email"],
input[type="password"] {
    width: 94%; 
    padding: 10px;
    margin: 8px 0;
    border: 2px solid #5A2C2C; 
    border-radius: 5px;
    font-size: 1em;
    background-color: #f4f4f4;
}

input[type="email"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #8B4513; 
}

input[type="submit"] {
    background-color: #5A2C2C; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
    cursor: pointer;
    width: 100%; 
    margin-top: 15px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #8B4513; 
}
.divDades{
    flex-grow: 1; 
    margin: 0;
    border: 2px solid #5A2C2C; 
    border-radius: 5px;
    font-size: 1em;
    background-color: rgb(161, 146, 165, 0.7);
    margin-top: 15px;
}
.divTerritoris{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    border: 2px solid #5A2C2C;
    border-radius: 5px;
    font-size: 1em;
    background-color: rgb(161, 146, 165, 0.7);
    padding: 10px;
}
.territori-item {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-bottom: 10px;
}

.territori-item p {
    margin: 0;
}

.territori-item button {
    margin-left: 10px; 
}
.divDades2, .extraInfo {
    flex: 1; 
    margin: 0 10px; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    max-width: 200px;
    min-height: 800px;
    border: 2px solid #5A2C2C; 
    background-color: rgb(161, 146, 165, 0.7);
    border-radius: 5px;
}
main div.msgInfo {
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
    border: 2px solid #5A2C2C;
    border-radius: 5px;
    font-size: 1em;
    background-color: rgb(161, 146, 165, 0.7);
    padding: 10px;
}
.display{
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    margin-top: 15px;
    padding: 10px;
    width: 100%; 
    max-width: 1200px; 
    margin: 0 auto;
}
.tamany {
    text-align: center;
    font-weight: bold;
    color: #ffe600;
    text-shadow: 0 0 10px #aa00ff, 0 0 15px #aa00ff, 0 0 30px #aa00ff;
}

.msgError,
.msgCredencials {
    text-align: center;
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.msgCredencials {
    color: green;
}

/* Checkbox recordar */
input[type="checkbox"] {
    margin-right: 10px;
}

label[for="recordar"] {
    color: white;
    font-size: 0.9em;
    display: inline-block;
    margin-top: 10px;
}

/* Footer */

footer div#contenedorFooter {
    background-color: #5A2C2C;
    text-align: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

footer {
    background-color: #5A2C2C;
    text-align: center;
    width: 100%;
    margin-top: auto;
    height: auto; 
    min-height: unset; 
    box-sizing: border-box;
}
/*Imagenes y contenedores de imagenes*/
.cont_img_mapa {
    display: flex; 
    justify-content: center; 
    margin: 20px auto;
    border: 3px solid  rgba(95,9,121,1);
    border-radius: 15px; 
    background-color: #8B4513;
    box-shadow: 0 0px 12px rgba(232, 236, 0, 0.744); 
    max-width: 320px; 
}
.cont_img_mapa div{
    border-radius: 12px; 
    background-color: #8B4513;
}
.img_index {
    flex: 2; 
    justify-content: center; 
    margin: 20px auto; 
    border: 3px solid  rgba(95,9,121,1);
    border-radius: 15px; 
    background-color: #8B4513;
    box-shadow: 0 0px 12px rgba(232, 236, 0, 0.744); 
    max-width: 800px; 
}
.icono-pequeño {
    width: 70px;
    height: 70px; 
    border-radius: 10px;
    transition: transform 0.2s ease;
    margin: 10px;
}
  
.icono-pequeño:hover {
    transform: scale(1.2); 
    box-shadow: 0 0 14px #aa00ff;
}
/*Tooltips*/
.tooltip {
    position: relative;
    display: inline-block;
  }
  
.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px; 
    background-color: black; 
    color: #fff; 
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%); 
    opacity: 0;
    transition: opacity 0.5s, visibility 0s linear 0.5s; 
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1; 
    transition-delay: 0.5s; 
}
.botones {
    display: flex;               
    justify-content: center;     
    align-items: center;          
    gap: 10px;                    
    margin-top: 20px;            
}