/*   Directives CSS  */
@charset "utf-8";

/**/
main article strong{
    color:darkred;
}
main article em{
    color:green;
}
main article img{
    float:left;/*Float sigue siendo útil en estos casos*/
    margin:1em;
    border:2px solid red;
    opacity:0.7;
    transition: all 0.5s ease;
}
main article img:hover{
    opacity: 1;
}
main article p{
    margin-bottom:1em;
}
main article p:last-child{
    clear:both;/*Esta propiedad bora el float de cualquier otro elemento no le afecte*/
}
/*Cookies*/
aside#cookies{
    position:fixed; 
    bottom:0; left:0;
    z-index:1;
    background-color: black;
    width: 100%;
    color:white;
    padding:2em;
    text-align:center;
}
aside#cookies button{
    margin: 1rem; padding: 1rem;
}