doctype 
html(lang="es")
    meta(charset="utf-8")
    -const tit="Práctica Curriculum PUG"
    -var estudios=["ESO","Bachiller","FP MEdia","FP SUperior","Universidad"]
    -var idiomas=["Ingles","Francés","Italiano","Chino","Portugués","Ruso"]